Workshop_7_XML/schemas/ingestion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="UploadStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Submitted" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="UploadRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="RequestID" type="xs:positiveInteger" />
                <xs:element name="Client">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Username" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Timestamp" type="xs:dateTime" />
                <xs:element name="AttachedImage">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ImageID" type="xs:positiveInteger" />
                            <xs:element name="OriginalFileName" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Status" type="UploadStatusEnum" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>